/*Swapped dark and light modes, only what existed in dark mode*/
body {
  min-width: 350px;
  margin: 0 0 20px 0;
  font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
  background-color: #333;
}

.buttons a {
  display: block;
  margin: 0;
  padding: 10px 40px;
  color: #eee;
  text-decoration: none;
  font-size: 14px;
}

.buttons a:focus {
  outline: none;
}

.buttons a:hover {
  outline: none;
  background-color: #555
}

.section {
  // border-bottom: solid 1px #2196F3;
  // margin-bottom: 5px;
}
.section:last-of-type {
  border-bottom: none;
}

#status_text {
  margin: 0;
  padding: 16px 40px;
  background: #555;
  color: #eee;
  font-size: 12px;
  line-height: 18px;
}

#status_text.blue {
  background: #0078d8;
}

#status_text.yellow {
  background: #b16900;
}

#status_text.red {
  background: #a70b00;
}

#status_container {
  /*margin-bottom: 10px; dark mode status_container was empty*/
}

form {
  margin: 0;
  padding: 0 40px;
}

form label {
  display: block;
  font-size: 11px;
  color: #ccc;
  padding: 10px 0;
}

form input[type=number] {
  border: none;
  border-bottom: 1px solid #2196F3;
  display: block;
  font-size: 16px;
  font-family: "Helvetica","Arial",sans-serif;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  height: 40px;
  background: 0 0;
  text-align: left;
  color: #ccc;
  box-sizing: border-box;
}

form input[type=number]:focus {
  outline: none;
  border-bottom: 2px solid #2196F3;
}

form small {
  display: block;
  margin: 5px 0;
  padding: 0;
  color: #ccc;
}

.section .bottom-status {
  display: block;
  margin: 0;
  padding: 10px 40px;
  color: #ccc;
  text-decoration: none;
  font-size: 10px;
}

.section .bottom-status.red {
  color: red;
}
