/* Swapped dark and light modes (default is now dark)*/
body.dark-mode {
  background-color: #333;
}

.dark-mode .title {  
  background-color: #2196F3;
}

.dark-mode .title .icon {
  background: #fff;
}

.dark-mode .title .description {
  color: #fff;
}

.dark-mode .title .url {
  color: #fff;
}

.dark-mode .suspend-message {
  color: #555;
}
